header {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: url('../../assets/photos/Header home.jpg') no-repeat center center fixed;
    background-size: cover;
}

.title-container {
    width: 280px;
    height: 205px;
    text-align: center;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

.text-box {
    background-color: #FEFEFB;
    width: 355px;
    height: 225px;
    text-align: center;
}

.link-home{
    color:#343A40;
}