.text-box {
    display: flex;
    flex-direction: column;
    background-color: #FEFEFB;
    width: 355px;
    height: 225px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 4px #343A40;
    padding-left: 5px;
    padding-right: 5px;
}

.title-in-text-box {
    padding-bottom: 15px;
}